//colors
$mainColor: #351056;
$colorWhite: #fff;
$colorBlack: #111;

//gradients
$mainGradient: linear-gradient(90deg, rgba(53, 16, 86, 1) 0%, rgba(116, 34, 188, 1) 100%);

//other
$border-radius: 8px;
