button {
  height: 50px;
  color: var(--buttons-color);
  border: 1px solid transparent;
  border-radius: $border-radius;
  background:
    $mainGradient padding-box,
    linear-gradient(90deg, #351056 0%, rgb(123, 123, 123) 100%) border-box;
  text-transform: uppercase;
  line-height: 22px;
  padding: 0 10px;
  font-weight: 600;
  font-size: 12px;
}

//tabs
.tabs {
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}
.tab {
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 5px;
  &-active {
    border-bottom: 1px solid white;
  }
}
