//forms
form {
  gap: 12px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    width: 100%;
  }
  span {
    font-size: 12px;
  }
}

//inputs
input {
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  padding-left: 10px;
  background:
    linear-gradient(var(--inputs-background)) padding-box,
    $mainGradient border-box;
  outline: none;
  color: var(--inputs-color);
  &::placeholder {
    color: var(--inputs-color);
  }
  &.error {
    border: 1px solid red;
  }
}

//checkboxes
label[name='agree'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  gap: 8px;
  align-items: stretch;
  a {
    font-weight: bold;
    border-bottom: 1px solid $colorWhite;
  }
}

input[type='checkbox'],
input[type='checkbox']:checked {
  height: 15px;
  width: 15px;
  border: 2px solid $mainColor;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid $mainColor;
    background: $colorWhite;
  }
}
input[type='checkbox']:checked {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 50%;
    left: 51%;
    transform: translate(-48%, -50%);
    background: $mainColor;
    z-index: 1;
  }
}

.messageError {
  background: var(--message-error-background);
  color: var(--message-error-text);
  height: 50px;
  text-align: center;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}
