header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header.active {
  background: var(--header-background);
  align-items: center;
  padding: 30px;
}

// burger
$burgerItems: first, last;
.burger {
  width: 23px;
  gap: 4px;
  position: relative;
  &.active {
    .burger__line {
      position: absolute;
    }
    .burger__line:nth-child(2) {
      display: none;
    }
    @each $i in $burgerItems {
      .burger__line:#{$i}-child {
        @if ($i == first) {
          transform: rotate(45deg);
        } @else {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.burger__line {
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--color-burger);
  @each $i in $burgerItems {
    &:#{$i}-child {
      transition: transform 0.4s linear;
    }
  }
}
// menu
.menu__items {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
}
