.map-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .marker-title {
    text-align: center;
  }
}

.user_apps {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  background: red;
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
